{% extends 'courses/base.html' %}
{% block title %}Login · DeutschHaus{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4">
                <h3 class="text-center mb-4 text-primary fw-bold">Welcome Back</h3>

                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" id="username" class="form-control"
                            placeholder="Enter your username" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control"
                            placeholder="Enter password" required>
                    </div>

                    <button type="submit" class="btn btn-danger w-100 py-2 mt-2">Login</button>
                </form>


                <p class="text-center mt-3 small">Don’t have an account?
                    <a href="{% url 'courses:register' %}"
                        class="text-decoration-none text-primary fw-semibold">Register</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}