# Django general
*.pyc
__pycache__/
db.sqlite3
/staticfiles/
media/
.env
.DS_Store

# Virtual environment
venv/
genv/
env/
Scripts/
Include/
Lib/
Lib64/
pyvenv.cfg

# IDE files
.vscode/
.idea/
*.code-workspace

# System
*.log
*.pot
*.py~
*.swp
*.swo

# Node (if used later)
node_modules/
package-lock.json
